@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@font-face {
  font-family: "bahnschrift";
  src: url(../public/fonts/bahnschrift.ttf);
}
@font-face {
  font-family: "CenturyGothic";
  src: url(../public/fonts/GOTHIC.TTF);
}
@font-face {
  font-family: "CenturyGothicBold";
  src: url(../public/fonts/GOTHICB.TTF);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: "CenturyGothic", sans-serif;
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  background-color: rgb(5, 5, 5);
}

.container-overall-scroll {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.container-overall-scroll .sections {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  scroll-snap-align: center;
  position: relative;
  overflow: hidden;
  border: 1px solid red;
}

.section-about {
  max-width: 120rem;
}

.section-artwork {
  width: 100%;
  height: 100%;
}
.section-artwork::before {
  content: "";
  width: 100%;
  height: 150%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgb(5, 5, 5), rgba(5, 5, 5, 0.6705882353));
  z-index: -1;
}
.section-artwork::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../public/images/sense2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}
.section-artwork .section-artwork-container {
  width: 100%;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .section-artwork .section-artwork-container {
    display: block;
    position: relative;
  }
}
@media only screen and (min-width: 4096px) {
  .section-artwork .section-artwork-container {
    max-width: 160rem;
  }
}
.section-artwork .section-artwork-container .section-artwork-content-container {
  width: 95%;
  height: auto;
  margin: 0 auto 2rem;
  padding: 1rem;
}
@media only screen and (min-width: 768px) {
  .section-artwork .section-artwork-container .section-artwork-content-container {
    width: 80%;
    margin-bottom: 10rem;
  }
}
@media only screen and (min-width: 1024px) {
  .section-artwork .section-artwork-container .section-artwork-content-container {
    width: 65%;
    margin: 0;
    position: absolute;
    top: 15%;
    left: 7%;
  }
}
@media only screen and (min-width: 1366px) {
  .section-artwork .section-artwork-container .section-artwork-content-container {
    top: 20%;
    left: 5%;
  }
}
@media only screen and (min-width: 1920px) {
  .section-artwork .section-artwork-container .section-artwork-content-container {
    left: 4%;
  }
}
@media only screen and (min-width: 2560px) {
  .section-artwork .section-artwork-container .section-artwork-content-container {
    width: 70%;
    top: 25%;
    left: 1%;
  }
}
@media only screen and (min-width: 4096px) {
  .section-artwork .section-artwork-container .section-artwork-content-container {
    top: 25%;
    left: 0%;
  }
}
.section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-title {
  width: 100%;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-title {
    margin-bottom: 2rem;
  }
}
.section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-title p {
  width: 100%;
  margin: 0 auto;
  font-size: 1.75rem;
  text-transform: initial;
  font-family: "CenturyGothicBold", sans-serif;
}
@media only screen and (min-width: 768px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-title p {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-title p {
    text-align: left;
  }
}
@media only screen and (min-width: 1366px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-title p {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 2560px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-title p {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 4096px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-title p {
    font-size: 7rem;
  }
}
.section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-info,
.section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-disclaimer {
  width: 100%;
  text-align: left;
  text-transform: initial;
}
.section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-info {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1366px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-info {
    margin-bottom: 2rem;
  }
}
.section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-info p {
  font-size: 1.25rem;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-info p {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1366px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-info p {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 2560px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-info p {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media only screen and (min-width: 4096px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-info p {
    font-size: 3.25rem;
    line-height: 4rem;
    margin-bottom: 3rem;
  }
}
.section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-info p span {
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0.25rem 0.75rem;
  letter-spacing: 0.1rem;
  color: rgb(247, 255, 0);
  border: 0.1rem solid rgb(247, 255, 0);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
@media only screen and (min-width: 1366px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-info p span {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}
.section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-disclaimer {
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-disclaimer {
    font-size: 1.15rem;
  }
}
@media only screen and (min-width: 1366px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-disclaimer {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 4096px) {
  .section-artwork .section-artwork-container .section-artwork-content-container .section-artwork-content-disclaimer {
    font-size: 2rem;
  }
}
.section-artwork .section-artwork-container .section-artwork-frames-container {
  width: 35rem;
  height: 35rem;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .section-artwork .section-artwork-container .section-artwork-frames-container {
    margin-bottom: 10rem;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}
@media only screen and (min-width: 1024px) {
  .section-artwork .section-artwork-container .section-artwork-frames-container {
    margin: 0;
    position: absolute;
    top: 27%;
    right: 10%;
  }
}
@media only screen and (min-width: 1366px) {
  .section-artwork .section-artwork-container .section-artwork-frames-container {
    top: 35%;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}
@media only screen and (min-width: 1920px) {
  .section-artwork .section-artwork-container .section-artwork-frames-container {
    right: 10%;
  }
}
@media only screen and (min-width: 2560px) {
  .section-artwork .section-artwork-container .section-artwork-frames-container {
    top: 40%;
    right: 10%;
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
  }
}
@media only screen and (min-width: 4096px) {
  .section-artwork .section-artwork-container .section-artwork-frames-container {
    top: 42%;
    right: 15%;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
  }
}
.section-artwork .section-artwork-container .section-artwork-frames-container .section-artwork-frames-box {
  width: 16rem;
  height: auto;
}
.section-artwork .section-artwork-container .section-artwork-frames-container .section-artwork-frames-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-artwork .section-artwork-container .section-artwork-frames-container .frame-one {
  position: absolute;
  right: 5%;
}
.section-artwork .section-artwork-container .section-artwork-frames-container .frame-two {
  position: absolute;
  top: 20%;
  left: 5%;
  box-shadow: 2rem -2rem 2.5rem rgb(5, 5, 5);
}
.section-artwork .section-artwork-container .section-artwork-frames-container .frame-three {
  position: absolute;
  top: 35%;
  right: 10%;
  box-shadow: -0.8rem -0.8rem 2.5rem rgb(5, 5, 5);
}

.section-contact {
  max-width: 120rem;
}

.section-services {
  width: 100%;
  height: 100%;
  max-width: 120rem;
}
.section-services .section-services-bg {
  width: 60%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  max-width: 120rem;
}
.section-services .section-services-bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.2;
}

@keyframes spinCircle {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.section-hero-header {
  width: 100%;
  max-width: 120rem;
  height: 1rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 90;
}
@media only screen and (min-width: 1280px) {
  .section-hero-header {
    height: 8rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
@media only screen and (min-width: 2560px) {
  .section-hero-header {
    height: 10rem;
  }
}
@media only screen and (min-width: 4096px) {
  .section-hero-header {
    height: 15rem;
  }
}
.section-hero-header .section-header-logo {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 100%;
  left: 1%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .section-hero-header .section-header-logo {
    display: none;
  }
}
.section-hero-header .section-header-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section-hero-header .section-header-nav {
  width: 100%;
  height: 100vh;
  position: relative;
  position: absolute;
  top: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 95;
  transform: translateX(-100vw);
  -webkit-transform: translateX(-100vw);
  -moz-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  -o-transform: translateX(-100vw);
}
@media only screen and (min-width: 1280px) {
  .section-hero-header .section-header-nav {
    width: 100%;
    height: 100%;
    transform: translateX(0vw);
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
  }
}
.section-hero-header .section-header-nav::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(5, 5, 5);
  opacity: 0.7;
  z-index: -1;
}
@media only screen and (min-width: 1280px) {
  .section-hero-header .section-header-nav::after {
    display: none;
  }
}
.section-hero-header .section-header-nav .section-header-nav-ul {
  width: auto;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (min-width: 1280px) {
  .section-hero-header .section-header-nav .section-header-nav-ul {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
  }
}
.section-hero-header .section-header-nav .section-header-nav-ul .section-header-nav-li {
  width: auto;
  position: relative;
  list-style-type: none;
}
.section-hero-header .section-header-nav .section-header-nav-ul .section-header-nav-li::after {
  content: "";
  width: 0;
  height: 130%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: rgb(102, 97, 97);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  z-index: -1;
}
.section-hero-header .section-header-nav .section-header-nav-ul .section-header-nav-li:hover::after {
  width: 130%;
}
.section-hero-header .section-header-nav .section-header-nav-ul .section-header-nav-li:not(:last-child) {
  margin-bottom: 4rem;
}
@media only screen and (min-width: 1280px) {
  .section-hero-header .section-header-nav .section-header-nav-ul .section-header-nav-li:not(:last-child) {
    margin-right: 5rem;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 2560px) {
  .section-hero-header .section-header-nav .section-header-nav-ul .section-header-nav-li:not(:last-child) {
    margin-right: 10rem;
  }
}
.section-hero-header .section-header-nav .section-header-nav-ul .section-header-nav-li a {
  width: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2.25rem;
  font-family: "CenturyGothicBold", sans-serif;
  letter-spacing: 0.4rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
@media only screen and (min-width: 1280px) {
  .section-hero-header .section-header-nav .section-header-nav-ul .section-header-nav-li a {
    font-size: 1.5rem;
    font-family: "CenturyGothic", sans-serif;
  }
}
@media only screen and (min-width: 2560px) {
  .section-hero-header .section-header-nav .section-header-nav-ul .section-header-nav-li a {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 4096px) {
  .section-hero-header .section-header-nav .section-header-nav-ul .section-header-nav-li a {
    font-size: 2.25rem;
  }
}
.section-hero-header .section-header-nav .section-header-nav-ul .section-header-nav-li a:hover {
  color: rgb(0, 255, 255);
}
.section-hero-header .showNav {
  transform: translateX(0vw);
  -webkit-transform: translateX(0vw);
  -moz-transform: translateX(0vw);
  -ms-transform: translateX(0vw);
  -o-transform: translateX(0vw);
}

.section-hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section-hero::before {
  content: "";
  width: 100%;
  height: 150%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgb(5, 5, 5), rgba(5, 5, 5, 0.6705882353));
  z-index: -1;
}
.section-hero::after {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../public/images/tim-arterbury-VkwRmha1_tI-unsplash.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}

.section-hero-burger {
  width: 100%;
  height: 1rem;
  position: relative;
  position: fixed;
  z-index: 100;
}
@media only screen and (min-width: 1280px) {
  .section-hero-burger {
    display: none;
  }
}
.section-hero-burger .burger-box {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: 100%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.section-hero-burger .burger-box .burger-box-container {
  width: 4.15rem;
  height: 2.25rem;
  margin-top: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}
.section-hero-burger .burger-box .burger-box-container .top,
.section-hero-burger .burger-box .burger-box-container .middle,
.section-hero-burger .burger-box .burger-box-container .bottom {
  height: 0.3rem;
  position: relative;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid rgb(255, 255, 255);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  overflow: hidden;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  box-shadow: 0.2rem 0.2rem 0.4rem rgb(5, 5, 5);
}
.section-hero-burger .burger-box .burger-box-container .top {
  width: 100%;
  top: 0;
}
.section-hero-burger .burger-box .burger-box-container .middle {
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.section-hero-burger .burger-box .burger-box-container .bottom {
  width: 100%;
  bottom: 0;
}
.section-hero-burger .burger-box .burger-box-container .removeTopBottom {
  transform: translateX(200vw);
  -webkit-transform: translateX(200vw);
  -moz-transform: translateX(200vw);
  -ms-transform: translateX(200vw);
  -o-transform: translateX(200vw);
}
.section-hero-burger .burger-box .burger-box-container .rotateMiddleOne {
  width: 100%;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}
.section-hero-burger .burger-box .burger-box-container .rotateMiddleTwo {
  width: 100%;
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
}

.section-hero-logo-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-hero-logo-container .section-hero-logo-box {
  width: 100%;
  height: auto;
  margin-top: 15rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .section-hero-logo-container .section-hero-logo-box {
    width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  .section-hero-logo-container .section-hero-logo-box {
    width: 40%;
  }
}
@media only screen and (min-width: 1280px) {
  .section-hero-logo-container .section-hero-logo-box {
    width: 35%;
    margin-top: 10rem;
  }
}
@media only screen and (min-width: 1366px) {
  .section-hero-logo-container .section-hero-logo-box {
    width: 40%;
    margin-top: 20rem;
  }
}
@media only screen and (min-width: 1920px) {
  .section-hero-logo-container .section-hero-logo-box {
    width: 30%;
    margin-top: 15rem;
  }
}
@media only screen and (min-width: 2560px) {
  .section-hero-logo-container .section-hero-logo-box {
    width: 35%;
    margin-top: 25rem;
  }
}
@media only screen and (min-width: 4096px) {
  .section-hero-logo-container .section-hero-logo-box {
    margin-top: 40rem;
  }
}
.section-hero-logo-container .section-hero-logo-box .section-hero-logo-box-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 5rem;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem rgb(5, 5, 5));
  -webkit-filter: drop-shadow(0.2rem 0.2rem 0.4rem rgb(5, 5, 5));
}
@media only screen and (min-width: 2560px) {
  .section-hero-logo-container .section-hero-logo-box .section-hero-logo-box-image {
    margin-bottom: 7rem;
  }
}
.section-hero-logo-container .section-hero-logo-box .section-hero-content-box {
  width: 100%;
  max-width: 120rem;
  height: auto;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .section-hero-logo-container .section-hero-logo-box .section-hero-content-box {
    width: 80%;
  }
}
@media only screen and (min-width: 1024px) {
  .section-hero-logo-container .section-hero-logo-box .section-hero-content-box {
    width: 100%;
  }
}
.section-hero-logo-container .section-hero-logo-box .section-hero-content-box p {
  font-size: 1.75rem;
  text-shadow: 0.2rem 0.2rem 0.3rem rgb(5, 5, 5);
}
@media only screen and (min-width: 768px) {
  .section-hero-logo-container .section-hero-logo-box .section-hero-content-box p {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1920px) {
  .section-hero-logo-container .section-hero-logo-box .section-hero-content-box p {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 2560px) {
  .section-hero-logo-container .section-hero-logo-box .section-hero-content-box p {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 4096px) {
  .section-hero-logo-container .section-hero-logo-box .section-hero-content-box p {
    font-size: 3rem;
  }
}

.section-cta-btn-container {
  width: 100%;
  height: 10rem;
  position: fixed;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 80;
}
@media only screen and (min-width: 768px) {
  .section-cta-btn-container {
    bottom: 10%;
  }
}
.section-cta-btn-container .cta-btns {
  position: relative;
  text-decoration: none;
  padding: 0.5rem 2rem;
  font-size: 1.75rem;
  letter-spacing: 0.4rem;
  font-family: "CenturyGothicBold", sans-serif;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  text-shadow: 0.2rem 0.2rem 0.3rem rgb(102, 97, 97);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
@media only screen and (min-width: 1920px) {
  .section-cta-btn-container .cta-btns {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 4096px) {
  .section-cta-btn-container .cta-btns {
    font-size: 3rem;
  }
}
.section-cta-btn-container .cta-btns:hover {
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
  box-shadow: 0rem 2rem 4rem rgb(5, 5, 5);
}
.section-cta-btn-container .cta-btns-discover {
  margin-right: 2rem;
  color: rgb(5, 5, 5);
  background-color: rgb(0, 255, 255);
  border: 0.1rem solid rgb(0, 255, 255);
}
.section-cta-btn-container .cta-btns-discover:hover {
  background-color: rgb(15, 157, 161);
  border: 0.1rem solid rgb(15, 157, 161);
  color: rgb(255, 255, 255);
}
.section-cta-btn-container .cta-btns-shop {
  color: rgb(247, 255, 0);
  border: 0.1rem solid rgb(247, 255, 0);
}
.section-cta-btn-container .cta-btns-shop:hover {
  background-color: rgb(247, 255, 0);
  color: rgb(5, 5, 5);
}

/*# sourceMappingURL=styles.css.map */
