.section-hero {
  @include keep-it-hundo;
  min-width: 100vw;
  overflow: hidden;

  &::before {
    content: "";
    width: 100%;
    height: 150%;
    @include absol-topLeftZero;
    background: linear-gradient(to bottom, $color-dark, #050505ab);
    z-index: -1;
  }

  &::after {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background: url(../public/images/tim-arterbury-VkwRmha1_tI-unsplash.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;
  }
}
