// Colors

$color-dark: rgb(5, 5, 5);
$color-yellow: rgb(247, 255, 0);
$color-lite: rgb(255, 255, 255);
$color-gray-lite: rgb(102, 97, 97);
$color-cyan: rgb(0, 255, 255);
$color-cyan-dark: rgb(15, 157, 161);
