// Google Fonts - Roboto Condensed Font

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

// Google Fonts - Oswald Font

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

// Windows Fonts - Bahnschrift Font
@font-face {
  font-family: "bahnschrift";
  src: url(../public/fonts/bahnschrift.ttf);
}

// Windows Fonts - Century Gothic Font
@font-face {
  font-family: "CenturyGothic";
  src: url(../public/fonts/GOTHIC.TTF);
}

@font-face {
  font-family: "CenturyGothicBold";
  src: url(../public/fonts/GOTHICB.TTF);
}
