.section-services {
  @include keep-it-hundo;
  max-width: 120rem;

  .section-services-bg {
    width: 60%;
    height: auto;
    @include absol-center;
    max-width: 120rem;
    img {
      @include keep-it-hundo;
      object-fit: contain;
      opacity: 0.2;
      // animation: spinCircle 10s linear infinite;
      // -webkit-animation: spinCircle 10s linear infinite;
    }
  }
}

@keyframes spinCircle {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
